<div class="about-container">
    <mat-card class="about-card">
        <mat-card-title>About</mat-card-title>
        <mat-card-content>
            <p>This application uses the MEAN (Mongo, Express, Angular, Node) software stack. The backend implements RESTful API, whereas the frontend data loading is handled by Angular. Angular also resolves routing and applies lazy loading to the different modules.</p>
            <p>In Angular, components are the building blocks of the application. Angular Material is used for basic components like checkbox and input, and complicated components (e.g. a Todo item) is custom built. Mobile compatibility has been considered, and can be seen from the way the UI is presented when viewed from a mobile device.</p>
            <p>Regarding the deployment environment, this application is done on Amazon's AWS, using the EC2 server. The code is cloned from my Github repository. NGINX is used to setup the server, Amazon Route 53 is used for DNS management. To secure the site, Lets Encrypt is used to generate the SSL certificate, allowing the application to run on port 443.</p>
            <p>Authentication is done using Google Sign-In, and it is a part where I had some difficulty implementing. Even now, there is a bug when doing authentication on Chromium (Chrome on iOS)</p>
            <p>Future enhancements that are under consideration including implementing functions for better mobile interaction, such as swipe gestures and drag-and-drop.</p>
            <p>To view the code, please visit my repository on <a href="https://github.com/kangjinyong/playground" target="_blank">Github</a>.</p>
            <p>Powered by MEAN, developed by kjy.</p>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>
</div>