@import 'src/assets/scss/playground-common';

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .todo-item-left-container,
    .todo-item-right-container {
        display: flex;
        align-items: center;
    }

    .todo-item-left-container,
    .todo-item-edit-input,
    .width-max {
        width: $width-max;
    }

    .todo-item-description-container {
        margin-left: $margin-md;
    }

    .todo-item-card-container {
        width: $width-max;
        margin-top: $margin-md;
    }

    .todo-item-actions-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .todo-item-description-textarea {
        overflow: hidden;
        resize: none;
    }
}