<div class="layout-header">
    <p>hello layout header!</p>
    <div>
        <button *ngIf="!signedIn" style="margin-left: 25px" (click)="signInSignOut()">Sign In/Authorize</button>
        <button *ngIf="signedIn" style="margin-left: 25px" (click)="signInSignOut()">Sign Out</button>
        <button *ngIf="signedIn" style="margin-left: 25px" (click)="revokeAccess()">Revoke access</button>
    </div>
    <div *ngIf="signedIn">
        welcome {{profile.fullName}}!
    </div>
</div>
<router-outlet></router-outlet>
<div class="layout-footer">
    <p>hello layout footer!</p>
</div>