@import 'src/assets/scss/playground-common';

.layout-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, $primary-darker, $primary-lighter);
    height: $height-header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

    .layout-profile-container,
    .layout-menu-container {
        display: flex;
        padding: $padding-md;
        align-items: center;
    }

    .layout-menu-container {
        .layout-menu-item {
            margin: $margin-md;
            padding: $padding-md;
        }
        
        .layout-menu-header {
            display: flex;
            align-items: center;
            justify-content: center;

            .layout-menu-header-image {
                height: $height-header-image;
                padding-left: $padding-lg;
            }

            .layout-menu-header-text {
                color: $white;
                font-weight: $font-weight-bold-md;
                padding: 0 $padding-lg;
            }
        }

        .layout-menu-icon {
            color: $white;
        }
    }

    .layout-profile-container {
        .layout-profile-github-container {
            margin-right: $margin-xl;

            .layout-profile-github-image {
                height: $height-header-image;
            }
        }
    }
}

.layout-body {
    margin: $height-header 0;
    padding: $padding-md;
}