<mat-expansion-panel class="material-expansion-panel">
    <mat-expansion-panel-header>
        <mat-panel-title>Expansion Panel 1</mat-panel-title>
        <mat-panel-description>Sample Card</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card class="material-card">
        <mat-card-title>Angular Material Card</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
        <mat-card-content>
            <span>This card is switched </span><span [ngClass]="getClass()">{{getStatus()}}</span>
        </mat-card-content>
        <mat-card-actions>
            <mat-slide-toggle (change)="toggle($event.checked)">Power</mat-slide-toggle>
        </mat-card-actions>
    </mat-card>
</mat-expansion-panel>