<div class="todo-list-container">
    <form class="todo-new" (ngSubmit)="onSubmit()" [formGroup]="newTodoFormGroup">
        <mat-form-field class="todo-new-input">
            <input matInput type="text" placeholder="New Todo" formControlName="description">
        </mat-form-field>
    </form>
    <mat-list *ngIf="!isMobile()">
        <mat-list-item class="todo-item-container" *ngFor="let todo of todos">
            <todo-item class="todo-item" [todoItem]="todo" (todoItemDeleted)="deleteTodo($event)"></todo-item>
        </mat-list-item>
    </mat-list>
    <div *ngIf="isMobile()">
        <todo-item *ngFor="let todo of todos" class="todo-item" [todoItem]="todo" (todoItemDeleted)="deleteTodo($event)"></todo-item>
    </div>
</div>